.button {
  background-color: #1b2838;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.button:hover {
  background-color: #2a475e;
}

.buttonDisabled {
  background-color: #333;
  color: #aaa;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}
