.homeLayout {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  color: white;
  font-family: Arial, sans-serif;
}

.pageLayout {
  min-height: 100vh;
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
}

.homeMain {
  height: calc(100vh - 140px);
}

.pageMain {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}
